<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>테스트 페이지</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>테스트 페이지</h1>-->
<!--<div>-->
<!--    &lt;!&ndash; 로그인 페이지 링크 &ndash;&gt;-->
<!--    <a th:href="@{/login}">로그인 페이지</a>-->
<!--</div>-->
<!--<div>-->
<!--    &lt;!&ndash; 사용자 정보 확인 링크 &ndash;&gt;-->
<!--    <a th:href="@{/user/info}">사용자 정보 확인</a>-->
<!--</div>-->
<!--<div>-->
<!--    &lt;!&ndash; JWT 테스트 링크 &ndash;&gt;-->
<!--    <a th:href="@{/jwt-test}">JWT 테스트</a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
